body{
    margin: 0%;
}
.section-1{
    display: flex;
}
h2{
    text-align: center;
}
.design-1{
    
    width:20%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;
    max-width: 50%;
    box-shadow: 10px 10px 10px gray;
}
.design-1 img{
    width: 100%;
}
.design-6{
    width:50%;
    margin-left: 10%;
    margin-right: 10%;
}
.design-6 img{
    width: 150%;
    height: 120%;
}
h1{
    font-size: 40px;
}
.link-button{
    color: rgb(206, 225, 238);
    background-color: rgb(177, 11, 11);
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;